@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet]

@namespace Rhythm4K

<root>
    <section class="settings">
        @if(Game.IsMainMenuVisible && Game.Menu != null)
        {
            <div class="left">
                @foreach ( var group in Game.Menu.InputSettings.Actions.GroupBy( x => x.GroupName ) )
                {
                    <div class="category">
                        <h2>@group.Key</h2>

                        <div class="form">
                        @foreach ( InputAction action in group )
                        {
                            <FormGroup>
                                <Label>@action.Name</Label>
                                <Control>
                                    <KeyBind Game="@Game.Menu" Action=@action class="glass with-padding with-grow with-click"></KeyBind>
                                </Control>
                            </FormGroup>
                        }
                        </div>
                    </div>
                }
            </div>
        }

        <div class="right">
            <div class="category">
                <h2>Options</h2>
                @if(Game.IsMainMenuVisible)
                {
                    <div class="not-working">
                        These settings are currently only available through the in-game settings menu.
                    </div>
                }
                else
                {
                    <FormGroup>
                        <Label>Downscroll</Label>
                        <Control>
                            <SwitchControl Value:bind=@Downscroll />
                        </Control>
                    </FormGroup>
                }
            </div>
        </div>
    </section>

    <div class="navbar">
    
        <div class="left">
            @if(Game.IsMainMenuVisible)
            {
                <span class="btn primary" onclick="@RestoreDefaults">Restore Defaults</span>
            }
        </div>

        <div class="right">
            
            <span class="btn primary" onclick="@SaveChanges">Save Changes</span>
        </div>

    </div>
</root>

@code
{
    [CascadingParameter]
    public Package GamePackage { get; set; }  

    public bool Downscroll
    {
        get => Cookie.Get<bool>("rhythm4k.downscroll", false);
        set => Cookie.Set("rhythm4k.downscroll", value);
    }


    public void CancelChanges()
    {
        foreach (var kb in Descendants.OfType<KeyBind>())
        {
            kb.Cancel();
        }
    }

    public void RestoreDefaults()
    {
        Game.Menu.ResetBinds();
    }

    public void SaveChanges()
    {
        if(Game.IsMainMenuVisible)
        {
            foreach (var kb in Descendants.OfType<KeyBind>())
            {
                kb.Apply();
            }

            Game.Menu.SaveBinds();
        }

        this.Navigate("/songs");
    }
}