@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace Rhythm4K

<root>
	@if(true)
	{
		var set = BeatmapSet.All[Index];
		var list = set.Beatmaps.OrderBy(x => x.Difficulty).ToList();
		<div class="cover-art">
			<img src=@set.CoverArt />
			<div class="info">
				<h1>@set.Name</h1>
				<h3 class="artist">@set.Artist</h3>
			</div>
		</div>
		<div class="extras @(SelectedIndex >= 0 ? "" : "hidden")">
			@if(SelectedIndex >= 0)
			{
				var chart = list.ElementAt(SelectedIndex);
				<div class="extra">
					<i>access_time</i>
					<label>00:37</label>
				</div>
				<div class="extra">
					<i>piano</i>
					<label>@chart.Lanes</label>
				</div>
				<div class="extra">
					<i>music_note</i>
					<label>@chart.Notes.Count</label>
				</div>
			}
		</div>
		<div class="chart-list">
			@foreach(var chart in list)
			{
				var index = list.IndexOf(chart);
				<div class="chart @(index == SelectedIndex ? "selected" : "")" onclick=@(() => Select(index))>
					<div class="info">
						<h3>@(!string.IsNullOrEmpty(chart.DifficultyName) ? chart.DifficultyName : (!string.IsNullOrEmpty(chart.Name) ? chart.Name : "Unknown"))</h3>
						<h4>by @(!string.IsNullOrEmpty(chart.Charter) ? chart.Charter : "Unknown")</h4>
					</div>
					<div class="difficulty">@chart.Difficulty</div>
				</div>
			}
		</div>
		<div class="buttons">
			<MainMenuButton Text="Play" onclick=@PlayButton class=@(SelectedIndex == -1 ? "disabled" : "")/>
			<MainMenuButton Text="Back" onclick=@BackButton class="back"/>
		</div>
	}
</root>

@code
{

	public int Index
	{
		get
		{
			var index = SongListCarousel.Instance.SelectedIndex;
			var count = BeatmapSet.All.Count;
			while(index < 0)
			{
				index += count;
			}
			return index % count;
		}
	}
	public static int SelectedIndex = 0;
	public int lastIndex = 0;

	protected override void OnUpdate()
	{
		if(lastIndex != Index)
		{
			var set = BeatmapSet.All[Index];
			if ( set is not null )
			{
				MainMenuScreen.Instance.PlaySong( set );
			}
			lastIndex = Index;
		}
	}

	void PlayButton()
	{
		if(SelectedIndex == -1)
			return;

		var set = BeatmapSet.All[Index];
		var list = set.Beatmaps.OrderBy(x => x.Difficulty).ToList();
		MainMenuScreen.Instance.FadeToPlay(list.ElementAt(SelectedIndex));
	}

	void BackButton()
	{
		MainMenuScreen.Instance?.Navigate("/play");
	}

	void Select(int index)
	{
		SelectedIndex = index;
	}

	protected override int BuildHash() => System.HashCode.Combine( Index, SelectedIndex );
}